
        <!--우측 콘텐츠 헤더영역 -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>게시글 수정</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/Home/Index">Home</a>&nbsp;>&nbsp;
                    </li>
                    <li>
                        <a>게시글</a>
                    </li>
                    <li class="active">
                        <strong>수정</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <!--우측 콘텐츠 영역 -->
        <form action="/article/modify/<%=article.aid%>" method="post" id="articlesForm">
        <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">

                <!--                제목-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">글제목</label>
                            <input type="text" class="form-control" id="title" name="title" value="<%=article.title%>">
                        </div>
                    </div>
                </div>

                <!--                글내용-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">글내용</label>
                            <textarea class="form-control" rows="10" cols="5" id="content" name="content"><%=article.content%></textarea>
                        </div>
                    </div>
                </div>

                <!--                게시여부 표시-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">게시여부</label>
                            <select class="form-control" id="" name="display_yn">
                                <option value="Y" <% if(article.display_yn == "Y"){%>selected<%}%>>게시함</option>
                                <option value="N" <% if(article.display_yn == "N"){%>selected<%}%>>게시안함</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">저장</button>
                    <a href="/article/list" class="btn btn-info">목록</a>
                    <button type="button" class="btn btn-danger" id="btnDelete">삭제</button>
                </div>
                <input type="hidden" id="aid" name="aid" value="<%=article.aid%>">

            </div>
        </div>
        </form>


<script>
    // 페이지 로드시 실행
    $(document).ready(function () {
        $('#title').focus();
    });


    // 입력 요소들의 유효성검사를 실시후 action 페이지로 전송
    $('#articleForm').submit(function (e) {
        e.preventDefault();

        var title = $('#title').val();
        var content = $('#content').val();
        var display_yn = $('#display_yn').val();

        if (title == '') {
            alert('제목을 입력하세요.');
            $('#title').focus();
            return false;
        }

        if (content == '') {
            alert('내용을 입력하세요.');
            $('#content').focus();
            return false;
        }

        if (display_yn == '') {
            alert('게시여부를 선택하세요.');
            $('#display_yn').focus();
            return false;
        }
    });

    $('#btnDelete').click(function () {
        // confirm 창에서 확인을 누른경우 true, 취소를 누른경우 false
        if (confirm('정말 삭제 하시겠습니까?')) {
            location.href = '/article/delete?aid='+$('#aid').val();
        }
    });
</script>